body {
	min-width: 1200px;
	background-color: #1C1C1C;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #fff;
	background-image: url("../img/bg-img1.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
a {
	color: #fff;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
.container {
	max-width: 1169px;
	margin: 0 auto;
	padding: 0 10px;
}
.button {
	padding: 15px 37px 15px 37px;
	background-color: #F6762C;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}
.button:hover {
	box-shadow: 5px 5px 15px #000;
}
.button:active {
	box-shadow: 5px 5px 15px #000;
	opacity: 0.5;
}




.header {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	Width: 100px;
	Height: 100px;
	margin-right: 90px;
}
.site-nav {
	display: flex;
}
.site-nav-item {
	margin-right: 30px;
	opacity: 0.7;
}
.site-nav-item:hover {
	opacity: 1;
}
.site-nav-item:active {
	opacity: 0.3;
}
.site-current-item {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	opacity: 1;
}
.site-nav-item:last-child {
	margin-right: 0;
}



.inner-description {
	width: 530px;
	padding: 176px 0 251px 25px;
	min-height: 360px;
	margin-bottom: 115px;
}
.inner-description h1 {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
}
.inner-description b {
	font-weight: 500;
	font-size: 57.33px;
	line-height: 67px;
}
.inner-description p {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 60px;
}


.gallery {
	margin-bottom: 100px;
}
.gallery-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}
.gallery-list-item {
	background-color: #312F30;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.gallery-list-item:hover {
	box-shadow: 5px 5px 15px #000;
}
.gallery-list-item img {
	width: 262px;
	height: 172p;
	margin-bottom: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.gallery-list-item h2 {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}
.gallery-list-item p {
	width: 220px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}


.burger-king {
	background-color: #312F30;
	margin-bottom: 150px;
}
.burger-king img {
	padding-bottom: 40px;
}
.inner-burger-king {
	display: flex;
	align-items: center;
}
.burger-king-info {
	width: 371px;
	height: 214px;
	padding: 0 88px 40px 160px;
}
.burger-king-info h2 {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 44.2px;
	line-height: 52px;
}
.burger-king-info p {
	font-size: 16px;
	line-height: 19px;
	margin: 0;
	margin-bottom: 15px;
} 
.burger-king-info span {
	display: inline-block;
	margin-bottom: 10px;
}
.burger-king-info span:nth-child(1) {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.1em;
	color: #F6762C;
}
.burger-king-info span:last-child {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.1em;
	color: #F6762C;
}

.partners {
	margin-bottom: 120px;
}
.inner-partners {
	display: flex;
	flex-wrap: wrap;
}
.partner-item {
	width: 555px;
	height: 300px;
	margin-bottom: 30px;
	margin-right: 30px;
}
.partner-item .inner-partner-item {
	width: 264px;
	height: 175px;
}
.partner-item .inner-partner-item p:nth-child(2) {
	min-height: 40px;
}
.partner-item h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	margin: 0;
	margin-top: 5px;
}
.partner-item p {
	font-size: 16px;
	line-height: 19px;
	opacity: 0.7;
}
.partner-item span {
	display: inline-block;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	opacity: 1;
	color: #F6762C;
	margin-right: 10px;
	margin-bottom: 5px;
}
.partner-item span:last-child {
	opacity: 0.5;
	text-decoration-line: line-through;
	display: inline-block;
	margin-bottom: 0px;
}
.partner-item:nth-child(2n) {
	margin-right: 0;
}
.partner-item:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url("../img/partner-img-1.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.partner-item:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-image: url("../img/partner-img-2.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.partner-item:nth-child(3) {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url("../img/partner-img-3.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.partner-item:nth-child(4) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-image: url("../img/partner-img-4.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.inner-partner-item-2,
.inner-partner-item-4 {
	padding-left: 50px;
}
.button-partners {
	padding: 15px 30px 15px 30px;
}



.team {
	margin-bottom: 195px;
}

.inner-team {
	display: flex;
	justify-content: space-evenly;
}
.team-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 328px;
	text-align: center;
	margin-top: 70px;
}
.team-info img {
	margin-bottom: 37px;
}
.team-info p {
/*	margin-bottom: 27px;*/
	font-size: 16px;
	line-height: 19px;
}
.team-info h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	margin: 0;
	padding: 0;
}
.team-info h3 {
	font-size: 12px;
	line-height: 1px;
	font-weight: 500;
}



.download {
	background-color: #312F30;
}
.inner-download {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.inner-download b {
	display: inline-block;
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
}
.inner-download a {
	margin: 60px 0px;
}



.footer {
}
.inner-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 126px;
	padding-bottom: 100px;
	margin-right: 70px;
}
.inner-footer ul:first-child {
	margin-top: 65px;
	position: relative;
}
.inner-footer ul:first-child img {
	position: absolute;
	top: -100px;
	z-index: -1;
}
.inner-footer a:active { 
	opacity: 0.5;
}
.email,
.global {
	z-index: 10;
}
.inner-footer .email::before {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	background-image: url("../img/email 1.svg");
	left: -15px;
}
.inner-footer .global::before {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	background-image: url("../img/global 1.svg");
	left: -15px;
}
.inner-footer .head  {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}
.inner-footer li {
	margin-bottom: 15px;
}
.inner-footer span {
	display: inline-block;
}
.footer-social-list {
	position: relative;
}
.facebook::after,
.twitter::after,
.instagram::after,
.linkedin::after {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
}
.facebook::after {
	background-image: url("../img/facebook 1.svg");
}
.twitter::after {
	left: 25px;
	background-image: url("../img/twitter 1.svg");
}
.instagram::after {
	left: 50px;
	background-image: url("../img/instagram 1.svg");
}
.linkedin::after {
	left: 75px;
	background-image: url("../img/linkedin 1.svg");
}